@import "~styles/colors";

.input {
	box-sizing: border-box;
	min-width: 254px;
	height: 40px;
	padding: 0 12px;
	border: none;
	border-bottom: 1px solid $blue-grey;
	background-color: transparent;
	font-size: 20px;
	color: $black;
	outline: none;
}