@import "~styles/colors";

.currensy-courses-item {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 8px 16px;
	border-bottom: 1px solid $blue-grey;

	* {
		box-sizing: border-box;
	}

	&:hover {
		background-color: $light-bg;

		.currensy-courses-item__star-wrapper:not(.active) {
			visibility: visible;
			opacity: 0.5;
		}
	}
}

.currensy-courses-item__star-wrapper {
	visibility: hidden;

	&.active {
		visibility: visible;
	}
}

.currensy-courses-item__name,
.currensy-courses-item__rate {
	margin: 0 32px;
}