@import "~styles/colors";

.user-avatar {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	margin: 0 12px;

	& * {
		box-sizing: border-box;
	}
}

.user-avatar__img-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	margin-right: 16px;
	border-radius: 50%;
	border: 2px solid $blue-grey;
	background-color: $light-bg;
	overflow: hidden;

	& > img {
		width: 100%;
		object-fit: cover;
	}
}

.user-avatar__name-wrapper {
	display: flex;
	align-items: center;
	height: 60px;
	margin-left: auto;
	font-size: 18px;
}