@import "~styles/colors";

.select-root {
	box-sizing: border-box;
	min-width: 254px;
	height: 40px;
	border-bottom: 1px solid $blue-grey;
	background-color: transparent;
	display: flex;

	* {
		box-sizing: border-box;
	}
}

.select-value {
	width: 80%;
	height: 100%;
	cursor: pointer;
}

.select-arrow-button {
	background-color: transparent;
	width: 20%;
	fill: $blue-grey;
	height: 100%;
	border: none;
	outline: 0 !important;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select-items-container {
	max-height: 300px;
	position: fixed;
	padding: 18px 0;
	background-color: #fff;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
	0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	overflow-y: scroll;
}

.select-list-item {
	height: 42px;
	font-size: 20px;
	padding: 0 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.select-list-item.active {
	color: $submit-color;
}

.select-list-item:hover {
	background-color: $light-bg;
}

.select-items-container-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
}