.content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 40px 24px;
}

.menu-button__wrapper {
	position: absolute;
	top: 8px;
	right: 16px;
	overflow: hidden;
	transition: all 0.175s linear;

	&.hidden {
		z-index: -1;
		width: 1px;
		height: 1px;
		opacity: 0;
	}
}