@import "~styles/colors";

$aside-width: 320px;

.right-nav {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: $aside-width;
	background-color: $light-bg;
	transition: margin-right 0.175s linear;

	* {
		box-sizing: border-box;
	}
}

.right-nav--close {
	margin-right: -$aside-width;
}

.right-nav__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 8px 16px;
	border-bottom: 1px solid $blue-grey;
}

.right-nav__header-title {
	font-size: 16px;
	text-transform: uppercase;
}

.right-nav__content {
	flex: 1;
	padding: 16px;
}