.right-nav-item-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 32px;
}

.right-nav-item-container__title {
	display: flex;
	align-items: center;
	height: 20px;
}